BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 8
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: All
PointerAlignment: Right
